@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$primary-color: #071d49;
$secondary-color: #45b8ac;
$primary-font: "Montserrat", sans-serif;

.blogSeccion {
    padding: 10%;

    h2 {
        font-size: 3rem;
        text-align: left;
        font-weight: bold;
        color: $primary-color;
    }

}

.blogWrapper {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 100px;

    h3{
        font-size: 2rem;
    }

    img {
        border-radius: 10px;
    }


}

.lineaSubrayado {
    width: 80%;
    height: 5px;
    background-color: #071D49;
    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

