@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$primary-color: #071d49;
$secondary-color: #45b8ac;
$primary-font: "Montserrat", sans-serif;

.blogSeccion {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/images/backgrounds/background6.jpg");
  min-height: 100vh;

  button {
    padding: 5em 10%;
    margin: 2em;
  }
}

.blogWrapper {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  gap: 100px;
  padding: 10%;
  h3 {
    font-size: 2rem;
  }

  img {
    border-radius: 10px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
