@import "../styles/variables";

.burgerMenu {
  display: none; /* oculta el menú en pantallas mayores a 768px */
}

@media (max-width: 992px) {
  .burgerMenu {
    display: block;
  }
  .burgerMenu button {
    background-color: $primary-color;
    border: none;
  }
  .menu {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-bottom: 2em;
    button {
      width: auto;
      background: none;
      color: $primary-color;
      border: none;
      font-size: 1em;
      padding: 0;
      margin: 0;
    }
    li {
      list-style-type: none;
    }
  }
  .menuLateral {
    padding-bottom: 5em;
  }
  .linkNavDiv {
    font-size: 1em;
  }
  .linksMenu {
    background-color: $primary-color;
    color: white;
    font-size: 1em;
    padding: 0.5em;
  }

  .linksMenu:active {
    background-color: $secondary-color;
  }
}
