@import "../styles/variables";
.categoryIndex {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/images/backgrounds/background3.jpg");
  min-height: 100vh;

  h2 {
    padding: 20px 0;
    color: $secondary-color;
    font-size: 2rem;
    text-align: left;
    font-family: $primary-font;
    font-weight: bold;
  }

  .botonCategorias {
    display: flex;
    justify-content: center;

    button {
      border-radius: 3em;
      box-shadow: 2px 2px 2px black;
    }
    button:hover {
      box-shadow: none;
    }
  }
}
.checkupIndex {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/images/backgrounds/background4.webp");
  min-height: 100vh;
}

.gridTarjetas {
  padding: 0 10%;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  gap: 0 2%;
}
