@import "../styles/variables";

.tituloDireccion {
  font-weight: bold;
}

.direccionCasilla {
  color: white;
  margin: 5rem 0;
}

.ubicacion {
  display: flex;
  justify-content: center;
}

.ubicacionImg {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
}

.ubicacionImg:hover {
  cursor: pointer;
  scale: 120%;
}
