@import "../styles/variables";
.direccionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.direccionesSeccion {
  background-color: $primary-color;
  padding: 5%;

  h2 {
    color: white;
  }
}

.tituloDireccion {
  font-weight: bold;
}

.direccionCasilla {
  color: white;
  margin: 5rem 0;
}

.lineaSubrayado {
  width: 80%;
  height: 5px;
  background-color: $secondary-color;
}

.ubicacion {
  transition: all 0.3s;
}

.ubicacion:hover {
  cursor: pointer;
  scale: 120%;
}
