@import "../styles/variables";

.tituloDireccion {
  font-weight: bold;
}

.direccionCasilla {
  color: white;
  margin-bottom: 5em;
}

.ubicacion {
  display: flex;
  justify-content: center;
}

.ubicacionImg {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  width: 35em;
}

.ubicacionImg:hover {
  cursor: pointer;
  scale: 120%;
}

.casilla {
  background-color: rgba($color: $primary-color, $alpha: 0.8);
  padding: 4em;
  border-radius: 2em;
}

@media screen and (max-width: 768px) {
  .direccionCasilla {
    width: 90%;
  }
  .casilla {
    padding: 1.5em;
  }

  .ubicacionImg {
    width: 20em;
  }
}
