@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$primary-color: #071d49;
$secondary-color: #45b8ac;
$primary-font: "Montserrat", sans-serif;

.direccionWrapper {
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    align-items: center;
}

.direccionesSeccion{
    background-color: $primary-color;
    padding: 5%;

    h2 {
        color:white;
        text-align: center;
    }

}

.direccionCasilla {
    color: white;
}