@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$primary-color: #071d49;
$secondary-color: #45b8ac;
$primary-font: "Montserrat", sans-serif;

.footer {
    background-color: $primary-color;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5%;
    
    form {
        display: flex;
        flex-direction: column;
    }

    p{
        color: white;
    }

    input {
        background-color: rgba($color: #ffff, $alpha: .5);
        border-style: none;
        border-radius: 5px;
        padding: 10px;
        margin: 5px 0;
    }

    input::placeholder{
        color: white;
    }

    ul {
        list-style:none;
        text-align: left;
        font-family: $primary-font;
    }

    button {
        background-color: rgba($color: #45b8ac, $alpha: .5);
        border: 2px solid $secondary-color;
        color: white;
        margin: 5px 0;
    }


}

.footerPagina{
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
        font-family: $primary-font;
        color: white;
        margin-bottom: 10px;

    }
}

