@import "../styles/variables";

.footer {
  background-color: $primary-color;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5%;

  img {
    scale: 100%;
    transition: all 0.3s;
    margin-bottom: 2em;
  }

  img:hover {
    cursor: pointer;
    scale: 80%;
    border: 1px solid white;
    border-radius: 3em;
    padding: 1em;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  p {
    color: white;
  }

  input {
    background-color: rgba($color: #ffff, $alpha: 0.5);
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
  }

  input::placeholder {
    color: $primary-color;
  }

  ul {
    list-style: none;
    text-align: left;
    font-family: $primary-font;
  }

  button {
    background-color: $secondary-color;
    border: 2px solid $primary-color;
    color: $primary-color;
    margin: 5px 0;
  }
  select {
    background-color: $secondary-color;
    border-style: none;
    color: $primary-color;
    padding: 10px;
  }
}

.footerPagina {
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    font-family: $primary-font;
    color: white;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 8em;
    flex-direction: column-reverse;
    gap: 2em;
  }
}
