@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$primary-color: #071d49;
$secondary-color: #45b8ac;
$primary-font: "Montserrat", sans-serif;
.formularioFacturas {
  display: flex;
  justify-content: space-around;

  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
  }
  .direccion {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }

  input {
    border: 1px solid $primary-color;
    border-radius: 20px;
    padding: 1rem 2rem;
    color:#071d49;
    background-color: rgba($color: #071d49, $alpha: .5);
  }

  input::placeholder {
    color: white;
  }

  .radio{
    margin-left: 3rem;
  }

  label {
    font-weight: bold;
    color: $primary-color;
  }

  button {
    align-self: center;
  }
}
