@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$primary-color: #071d49;
$secondary-color: #45b8ac;
$primary-font: "Montserrat", sans-serif;

.carousel {
  z-index: -2;
  height: 70vh;
  img {
    object-fit: contain;
  }
}
