@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$primary-color: #071d49;
$secondary-color: #45b8ac;
$primary-font: "Montserrat", sans-serif;

.informesSeccion{
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.regionofwaterloo.ca%2Fen%2Fliving-here%2Fresources%2FImages%2FMedical-Exemption-WEB.jpg&f=1&nofb=1&ipt=db0eaf29d22dc945d15e3cfe7b5cc351ee1e2cfa53a3d95fc8b085a252b0afa0&ipo=images");

    h2{
        color: white;
        font-size: 2rem;
    }

    .informesWrapper{
        background-image: linear-gradient(to bottom right, $primary-color , $secondary-color);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 20px;
        width: 80%;
        height: 20vh;
        padding: 5px;
    }

    .imagenCorreo {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .informes {
        display: flex;

    }

    input {
        border-radius: 10px;
        padding: 5px;
        border: none;
        margin-right: 2rem;
        width: 20%;

    }

    button {
        background-color: #071d49;
        color: white;
        border-radius: 20px;
    }
}