@import "../styles/variables";

.logComponent {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .forget {
    cursor: pointer;

    text-align: center;
    color: #071d49;
    margin-top: 2em;
  }
  .forget:active,
  .forget:hover {
    color: #45b8ac;
  }

  h1 {
    color: $primary-color;
  }
  .signButton {
    margin: 2rem 0;
    align-self: center;
    background-color: #45b8ac;
  }

  input::placeholder {
    color: #071d49;
  }

  .errorMessageText {
    color: red;
    font-size: small;
    padding: 0 3em;
  }
}
