@import "../styles/variables";
.logIn {
  font-weight: bold;
  font-size: 0.8rem;
  height: auto;
  width: auto;
  padding: 0.8em;
  border-radius: 2em;
  box-shadow: 3px 3px 3px gray;
  transition: all 0.3s;
  background-color: $secondary-color;
  color: $primary-color;
}

.logIn:hover {
  background-color: $primary-color;
  cursor: pointer;
  color: $secondary-color;
}

.logIn:active {
  background-color: $primary-color;
  color: $secondary-color;
  box-shadow: none;
}

.signIn {
  background-color: $primary-color;
  color: $secondary-color;
  font-weight: bold;
}

.signIn:hover {
  background-color: $secondary-color;
  cursor: pointer;
  color: $primary-color;
}

.logButtons button {
  background-color: #071d49;
  box-shadow: 5px 5px 5px black;
}
