@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$primary-color: #071d49;
$secondary-color: #45b8ac;
$primary-font: "Montserrat", sans-serif;

.logo {
    width: 250px;
    height: auto;
    cursor: pointer;
    transition: all .3s;
}

.logo:hover {
    scale:80%;
    border: 2px solid $primary-color;
    border-radius: 5rem;
    padding: 2rem;
}