@import "../styles/variables";

.perfil {
  display: flex;
  height: 100%;

  .datosPerfil {
    padding: 3rem 5rem;
  }
}

.menuPerfil {
  font-family: $primary-font;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2em 2em 20em;
  background-color: $primary-color;
  box-shadow: 3px 0px 5px black;
  border-bottom: 2px solid $secondary-color;
  width: 25%;

  .menuOptions {
    display: flex;
    p {
      cursor: pointer;
      text-decoration: none;
      color: white;
      font-weight: bold;
      font-size: 1.5rem;
    }

    p:hover {
      text-decoration: underline;
    }

    img {
      margin-right: 1em;
      width: 2em;
      height: 2em;
      filter: invert(100%);
    }
    img:hover,
    img:active {
      filter: invert(0%);
    }
  }
}

.navMenuPerfil {
  display: flex;
  justify-content: space-between;
  width: auto;
  align-items: center;
  padding: 1rem 5rem;
  border-bottom: 1px solid #071d49;
  box-shadow: 2px 2px 5px gray;
  button {
    border-radius: 1em;
    padding: 0.5em;
    height: 5em;
  }
}

@media screen and (max-width: 768px) {
  .menuPerfil {
    gap: 1em;
    width: 100%;
    padding: 1em;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    p {
      display: none;
    }

    img {
      margin-right: 0;
      width: 1em;
      height: 1em;
    }
  }
  .perfil {
    flex-direction: column;
    .datosPerfil {
      padding: 2em 2em 5em;
    }
  }
}
