@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$primary-color: #071d49;
$secondary-color: #45b8ac;
$primary-font: "Montserrat", sans-serif;

.cintilla {
  background-image: linear-gradient(#45b8ac, #00554c);
  width: auto;
  height: 7vh;
  display: flex;
  padding: 5px 10%;
  justify-content: space-between;
  align-items: center;

  .tituloCintilla {

      color: white;
      font-family: $primary-font;
      font-weight: bold;
    
  }

  .idiomas {
    display: flex;
    gap: 5px;
  }
  .flag {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }
}
.nav {
  display: flex;
  padding: 10px 5%;
  height: 18vh;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  box-shadow: #071d49 1px 1px 5px;

  div {
    cursor: pointer;
    text-decoration: none;
    color: $primary-color;
    transition: all 0.3s ease;
    font-family: $primary-font;
    font-size: 1rem;
    font-weight: bold;
  }

  div:hover {
    color: $secondary-color;
    text-shadow: 1px -1px 1px gray;
    font-size: 1.2rem;
  }

  .logo {
    cursor: pointer;
    width: 4rem;
    height: 5rem;
  }
}
