@import "../styles/variables";

.cintilla {
  background-color: $primary-color;
  width: auto;
  height: 7vh;
  display: flex;
  padding: 5px 5rem;
  justify-content: space-between;
  align-items: center;

  .tituloCintilla {
    color: white;
    font-family: $primary-font;
    font-weight: bold;
  }

  .idiomas {
    display: flex;
    gap: 5px;
  }
  .flag {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }
}
.nav {
  display: flex;
  padding: 10px 5%;
  height: 15vh;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  box-shadow: #071d49 1px 1px 5px;

  .linkNavDiv,
  li {
    cursor: pointer;
    text-decoration: none;
    color: $primary-color;
    transition: all 0.3s ease;
    font-family: $primary-font;
    font-size: 1rem;
    font-weight: bold;
  }

  .linkNavDiv:hover {
    color: $secondary-color;
    scale: 150%;
  }
  li:hover {
    color: $secondary-color;
    scale: 110%;
  }

  .logo {
    cursor: pointer;
    width: 4rem;
    height: 5rem;
  }

  .separador {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    border: 0;
  }
  .separador {
    cursor: default;
  }
}

.dropMenuWrapper {
  position: relative;
}

.dropDownMenu {
  border: 1px solid $secondary-color;
  border-radius: 1rem;
  position: absolute;
  width: auto;
  padding: 2rem 3rem;
  box-shadow: 3px 3px 10px black;
  background: $primary-color;
  z-index: 2;

  ul {
    display: grid;
    grid-template-columns: 150px 150px;
    gap: 2rem;
  }

  ul,
  li {
    color: white;
    margin-left: 0;
    padding-left: 0;
    transition: all 0.3s;
  }
}

.subtitulo {
  color: white;
  font-family: $primary-font;
  font-weight: bold;
  margin-bottom: 1em;
}
