@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$primary-color: #071D49;
$secondary-color:#45B8AC;
$primary-font : 'Montserrat', sans-serif;

.nav {
    display: flex;
    padding: 8px 64px 4px 224px;
    height: 12%;
    background-color: white;
    justify-content: space-between;    
    align-items: center;
    box-shadow: #071D49 1px 1px 10px;
    
    a {
        text-decoration: none;
        color: $primary-color;
        transition: all 0.3s ease;
        font-family: $primary-font;
        font-weight: bold;

    }
    a:hover {
        color:$secondary-color;
    }

    .logo {
        cursor: pointer;
        width: 50px;
        height: 50px;
    }

}
