@import "../styles/variables";

.tabla {
  background-color: #f1f1f1;
  margin-top: 2em;
  padding: 1em;
  border-radius: 2em;
  tr {
    border-top: solid 1px black;
    padding-right: 2em;
    border-radius: 5em;
  }
  td {
    padding-top: 1em;
    padding-right: 1.5em;
    a {
      color: $secondary-color;
    }
  }
}
