@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$primary-color: #071d49;
$secondary-color: #45b8ac;
$primary-font: "Montserrat", sans-serif;

.whatsappFloat {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: #45b8ac;
  position: fixed;
  right: 1em;
  bottom: 7em;
  transition: all 0.3s;
  z-index: 3;
  box-shadow: 1px 1px 5px black;
}

/* .whatsappFloat:hover {
  width: 100px;
  height: 100px;
  opacity: 1;
} */

.whatsappFloat:hover {
  cursor: pointer;
}
