$primary-color: #071D49;
$secondary-color: #45B8AC;

body {
    margin: 0;
    padding:0;
    border:0;
    box-sizing: border-box;
    font-family: sans-serif;
}



.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #071D49;
    color: white;

    ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;

    }
    li{
        background-color: #45B8AC   ;
    }
    


}

.hero{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        align-items: center;
        padding: 10%;
        font-size: 4rem;
        color: white;
        text-shadow: 5px 5px 5px black;
    }

    .heroImage{
        width: 100%;
        height: 80vh;
        object-fit: cover;
        z-index: -1;
    }
    
}

.blogHome {
    background-color: $primary-color;
    color:white;
    margin: 0;

    h2 {
        font-size: 2rem;
        text-align: center;
        padding: 30px;
    }

    .blogHomeWrapper {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        justify-items: center;
        gap: 25px;

        .casillaBlog {
            background-color: white;
            color: black;
            border-radius: 10px;
            padding: 20px;
            width: 300px;
            box-shadow: 5px 5px 5px black;

            h3{
                text-align: center;
            }
        }
    }
}