@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$primary-color: #071D49;
$secondary-color:#45B8AC;
$primary-font : 'Montserrat', sans-serif;

.analisisSection {
    background-color: $primary-color ;
    color: white;
    font-family: $primary-font;
    padding: 10%;

    .analisisWrapper{
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        gap: 5%;
        margin-bottom: 200px;
    }
    .casillaAnalisis{
        background-color: white;
        color: $primary-color;
        padding: 5%;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .3s;

        dt {
            font-weight: bold;
            font-size: 1.5rem;
        }

        dd {
            margin:20px 0;
        }

        p{
            font-weight: bold;
            color: $secondary-color;
        }
    }

}