@import "../styles/variables";

.promocionesSeccion {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/images/backgrounds/background2.jpg");
  min-height: 100vh;
}
.promociones {
  padding: 5% 10%;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .textoPromociones {
    width: 50%;
  }
}

.tituloPromociones {
  padding: 500px;
}

.promocionesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5% 10%;
  gap: 2em;

  div {
    background-color: rgba($color: #ffff, $alpha: 0.5);
    border: 2px solid $primary-color;
    padding: 1em;
    box-shadow: 2px 2px 5px black;
  }
}
