body {
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

p{
    color: #071D49;
    font-family: 'Montserrat', sans-serif;
}


button {
    background-color: #45B8AC;
    width: 100px;
    border-radius: 3px;
    border-style: none;
    margin: 0 5px;
    font-size: .7rem;
    

}

h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;

}