@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$primary-color: #071d49;
$secondary-color: #45b8ac;
$primary-font: "Montserrat", sans-serif;

.container {
  padding-left: 15%;
  padding-right: 15%;
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #071d49;
  color: white;

  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
  }
  li {
    background-color: #45b8ac;
  }
}

.header {
  display: flex;
  padding: 8px 64px 4px 224px;
  height: 12%;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  box-shadow: #071d49 1px 1px 10px;

  .navLinks li {
    display: inline-block;
    padding: 0 20px;
    font-family: sans-serif;
    font-size: 1rem;

    a {
      text-decoration: none;
      color: $primary-color;
      transition: all 0.3s ease;
    }
    a:hover {
      background-color: $secondary-color;
    }
  }

  .logo {
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
}

.logButtons {
  display: flex;
}

.signIn {
  background-color: $primary-color;

  a {
    color: white;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    align-items: center;
    padding: 2%;
    font-size: 4rem;
    color: $primary-color;
  }

  .heroImage {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    z-index: -1;
  }
}

.blogHome {
  background-color: $primary-color;
  color: white;
  margin: 0;

  h2 {
    font-size: 2rem;
    text-align: center;
    padding: 30px;
  }

  .blogHomeWrapper {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    justify-items: center;
    gap: 25px;
    }
  }


.vermas {
  a {
    text-decoration: none;
    color: #45b8ac;
    font-family: sans-serif;
  }
  a:hover {
    color: white;
  }
}
